.root{
    -fx-background-image: url('../img/main_background.jpeg');
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.label{
    -fx-text-fill: #FFFFFF;
}

.button{
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-opacity: .7;
}

.button:hover{
    -fx-border-color: #FFFFFF;
    -fx-opacity: 1;
}